* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button, a, input,img {
    -webkit-tap-highlight-color: transparent; /* Para Safari y Chrome */
    outline: none; /* Elimina el contorno del foco */
}

body {
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('https://wallpapercave.com/wp/wp3493593.jpg');
    background-size: cover; /* Esto hará que la imagen ocupe toda la pantalla */
    background-position: center; /* Esto centrará la imagen */
}
h3, h4 {
    color: #333;
    margin-bottom: 10px;
}

#grid {
    width: 80vh;

   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:12px;
    
}

#grid img {
    width: 17vh;
    height: 24vh;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(5, 63, 172, 0.473);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    
}



#grid img:active {
    transform: scale(0.9);

}

#grid img:hover{
    box-shadow: 0 2px 8px rgb(0, 243, 231);
}

#score{

    z-index: 2;
width: 20vh;

animation: vanish 3s;
    text-align: center;
    color:#e9b036;
    font-weight: bold;
}


#clicks{

  
    animation: vanish 3s;
    color:#e9b036;
    font-weight: bold;

}
h1{
    
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
 
}

   


#Arcane-echoes{
    
    animation: aparecer 3s, cambiarSombra 3s infinite alternate;
 
}
#numbers{
  

    width:34vh;
    margin-top: 10px;
    display: flex;


    
}

.tittle{
    width: 44vh;
    text-align: left;
    color:#e9b036;

    animation: vanish 3s;

}

.tittle2{
    width: 25vh;
    text-align: left;
animation: vanish 3s;
    color:#e9b036;
 
 
}

/*Every card holds a secret echo from the mysteries of the universe.*/

#frasecita{
    color: #e9b036;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
    width: 80%;
    height: 40px;
    font-size: smaller;
    animation: aparecer 3s, cambiarSombra 3s infinite alternate;
}
.container{
    margin-bottom: 10px;
}
.text-gradient {
    background: linear-gradient(to bottom, #ac2605, #ebc5a8); /* Degradado de arriba hacia abajo */
    -webkit-background-clip: text; /* Aplica el fondo solo al texto */
    -webkit-text-fill-color: transparent; /* Hace que el texto sea transparente para mostrar el fondo */
    background-clip: text; /* Necesario para otros navegadores */
    color: transparent; /* Necesario para otros navegadores */
  }

@keyframes aparecer{
    0%{
        color: #00000000;
        transform: scaleX(0%);

    }
    10%{
        color: #00000000;
        transform: scaleX(0%);

    }
    100%{
        
        transform: scaleX(100%);


    }
}
@keyframes cambiarSombra{
    0%{
        text-shadow:0 4px 10px rgba(0, 243, 231, 0.171);
    }

    100%{
        text-shadow:0 4px 10px  rgba(0, 243, 231, 0.322);
    }
}


@keyframes vanish{
    0%{
        color: #00000000;
     
    }
    25%{
       color:#e9b036;
       

    }
}
@media screen and  (max-width: 900px){

    #grid {
        width: 48vh;
    }   
    
#grid img {
    width: 14vh;
    height: 19vh;
} 
}