* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button, a, input,img {
    -webkit-tap-highlight-color: transparent; /* Para Safari y Chrome */
    outline: none; /* Elimina el contorno del foco */
}

body {
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('https://wallpapercave.com/wp/wp3493593.jpg');
    background-size: cover; /* Esto hará que la imagen ocupe toda la pantalla */
    background-position: center; /* Esto centrará la imagen */
}
h3, h4 {
    color: #333;
    margin-bottom: 10px;
}

#grid {
    width: 80vh;

   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:12px;
    
}

#grid img {
    width: 17vh;
    height: 24vh;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(5, 63, 172, 0.473);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    
}



#grid img:active {
    transform: scale(0.9);

}

#grid img:hover{
    box-shadow: 0 2px 8px rgb(0, 243, 231);
}

#score{

    z-index: 2;
width: 20vh;


    text-align: center;
    color:#e9b036;
    font-weight: bold;
}


#clicks{

  
   
    color:#e9b036;
    font-weight: bold;

}
h1{
    
    font-size: 40px;
    color:#ca6f06 ; 
    font-family: "Berkshire Swash", serif;
 
}

   


#Arcane-echoes{
    
    animation: aparecer 4s, cambiarSombra 3s infinite alternate;
 
}
#numbers{
  
    width:40vh;
    margin: 10px;
    display: flex;

       animation: cambiarSombra 4s infinite alternate;
}

.tittle{
    text-align: center;
    color:#e9b036;
    width: 20vh;
}

.tittle2{
    text-align: center;

    color:#e9b036;
    width: 20vh;
}

.text-gradient {
    background: linear-gradient(to bottom, #ff7e5f, #feb47b); /* Degradado de arriba hacia abajo */
    -webkit-background-clip: text; /* Aplica el fondo solo al texto */
    -webkit-text-fill-color: transparent; /* Hace que el texto sea transparente para mostrar el fondo */
    background-clip: text; /* Necesario para otros navegadores */
    color: transparent; /* Necesario para otros navegadores */
  }

@keyframes aparecer{
    0%{
        color: #00000000;
        transform: scaleX(0%);

    }
    25%{
        color: #00000000;
        transform: scaleX(0%);

    }
    100%{
        color:#ca6f06 ;
        transform: scaleX(100%);


    }
}
@keyframes cambiarSombra{
    0%{
        text-shadow:0 4px 10px rgba(0, 243, 231, 0.438);
    }

    100%{
        text-shadow:0 4px 10px   rgba(0, 243, 203, 0.308) ;
    }
}

@media screen and  (max-width: 900px){

    #grid {
        width: 48vh;
    }   
    
#grid img {
    width: 14vh;
    height: 19vh;
} 
}