* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button, a, input,img ,h3{
    -webkit-tap-highlight-color: transparent; /* Para Safari y Chrome */
    outline: none; /* Elimina el contorno del foco */
}

body {
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('https://farm4.static.flickr.com/3395/3333534845_d6e64c68e5_o.png');
    background-size: cover; /* Esto hará que la imagen ocupe toda la pantalla */
    background-position: center; /* Esto centrará la imagen */
    
}
h3, h4 {
    color: #333;
   
}

#grid {
   
        width: 48vh;
  
    

   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:12px;
    
}

#grid img {
    width: 14vh;
    height: 18vh;
   animation: appear 1s ease;
    border-radius: 8px;
    box-shadow: 0 4px 10px #414555d5;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    
}



#grid img:active {
    transform: scale(0.9);

}

#grid img:hover{
    box-shadow: 0 2px 8px #8c95b8;
}

#score, #clicks {
    color: #e9b036c0;
    font-size: smaller;
       height: 40px;
      
}

h3, h4 {
    color: #e9b036;
    font-size: 20px;
   

}
.container{
 
  
text-align: center;
    width: 80%;
    margin-bottom: 10px;
 
}
#frasecita{
    animation: vanish 4s;
    color: #b48112;
    font-size: smaller;
 
    height: 40px;
   
  
}
#numbers{
 
    width: 40vh;
  margin-left: 4vh;

      color: #e9b036;
 font-size: smaller;
    height: 30px;
    
    display: flex;
   
    padding-top: 10px;
   

  
}
#Arcane-echoes{
   animation: vanish 1s;
    background-image:url("images/arcane.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 42vh;
    height: 60px;
  
}

.tittle{

    width:33.3%;
    font-weight: lighter;
    color: #e9b036c0;
    font-size: small;
    text-align: left;
   
       height: 30px;
       line-height: 30px;
       animation: vanish 1s;
       
       

}

.tittle2{
    display: none;
    width:33.3%;

    text-align: right;
    color: #e9b036c0;
    font-weight: lighter;
    font-size: small;
       height: 30px;
       line-height: 30px;
       animation: vanish 1s;
      
   
}
#homeSound{
    width: 120px;
 
    color: rgb(248, 227, 185);
    padding: 5px;
    border-radius: 6px;
    background-color:#331408;
    background-size: cover;
background-position: center;
  
    font-family:serif;
    text-shadow: 0 2px 2px  #0b092b63;
   
   
}

.custom-swal{
 font-family:serif;

    color: rgb(138, 88, 23);
    text-shadow: 0 0px 2px  rgba(44, 15, 1, 0.952);
  
    background-image: url('https://i.pinimg.com/originals/52/30/ec/5230ec8a17b4e18bb006c10fc64aed30.jpg');
background-size: cover;
background-position: center;
}

.homeText{
   color: #5c2f0a;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#homeIdiom{
    border-radius: 6px;
    width: 120px;
    padding: 5px;
    font-family:serif;
    color: rgb(248, 227, 185);
    background-color:#331408;
  
    background-size: cover;
background-position: center;
 
}
.custom-confirm-button {
    
    border-radius: 6px;
    width: 100px;
    padding: 5px;
    font-family:serif;
    color: rgb(248, 227, 185);
    background-color:#331408;
  
    background-size: cover;
background-position: center;
        
       
       
    }
    
 




.tittle3{

    position: relative;
    text-align: left;
    left: 7%;
    width:33.3%;
    color: #e9b036c0;
 
    font-weight: lighter;
    font-size: small;
       height: 30px;
       line-height: 30px;  /* Igual al alto del div */
       animation: vanish 1s;
       cursor: pointer;
}

#toogleIdiom{
    font-family:serif;
    width:30%;
    text-align: right;
    background-color: transparent;
    color: #e9b036c0;
    font-weight: lighter;
    font-size: small;
    border: none;
       height: 30px;
       line-height: 30px;
       animation: vanish 1s;
 
}
@keyframes appear{ 
0%{ opacity: 0.3; scale: 0.5;}
100%{opacity: 1; scale:1;

}

}
@keyframes vanish{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@media screen and  (max-width: 900px){
    body{
    background-image: url('https://i.pinimg.com/originals/52/30/ec/5230ec8a17b4e18bb006c10fc64aed30.jpg');
}}